
/* Základ pre mobil */
body {
    font-family: Arial, sans-serif;
    margin: 10px auto;
    padding: 0;
    background: lightgray;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

/* Hlavička */
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    width: 22em;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Label */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Inputy a select */
input, select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Texty výsledkov */
p {
    font-size: 18px;
    font-weight: bold;
    margin:8px 0;
}

/* Chyba */
#chyba, .allert {
    font-size: 14px;
    color: red;
    font-weight: bold;
}